body {
  font-family: "Roboto", sans-serif;
  color: white;
  background-color: rgb(5, 5, 5);
}

.container {
  padding: 40px;
}
.logo {
  width: 200px;
}

/* FLEXBOX  */
.d-flex {
  display: flex;
}

.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

.flex-direction-column {
  flex-direction: column;
}
.space-between {
  justify-content: space-between;
}

.row {
  flex-direction: row;
}

/* SECTION  */

.section {
  margin: 10px;
}

.title {
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
}

.slider {
  margin: 10px 0;
  display: flex;
  overflow: hidden;
  overflow-x: scroll;
}
